/*Font Faces Declaration*/
@font-face {
font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/ubuntu-font-family-0.83/Ubuntu-C.ttf");

}
@font-face {
font-family: "Ubuntu Medium";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/ubuntu-font-family-0.83/Ubuntu-M.ttf");

}
@font-face {
font-family: "Ubuntu Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/ubuntu-font-family-0.83/Ubuntu-L.ttf");

}
body{
	background-color: black;	
}
#page-content ul{
	list-style: none;
}
/*Page Properties*/
#page-content{
	background-color: #1f253d;
	width: 1168px;
	height: 1910px;
	margin:0 auto;
}
#page-content .section-content{
	width: 950px;
	height: 1715px;
	margin: 0 auto;	
}
/*Navigation Bar*/
#page-content .section-content .menu-bar .menu{
	padding: 0px;
}

#page-content .section-content .menu-bar .arrow {
    background: url(/images/Arrow.PNG) no-repeat;
    width: 10px;
    height: 20px;
    float: left;
    margin-top: 10px
}
#page-content .section-content a img{
	    padding-right: 11px;
}
#page-content span{
    height: 43px;
    width: 43px;
    background-color: #787878;
    float: right;
     border-radius: 50%;
    margin-top: -8px;
    border: solid #50597b;
}

#page-content .menu-bar{
    width: 939px;
	background-color: #394264;
    position: relative;
    top: 96px
}

#page-content a{
    color: white;
    text-align: center;
    padding: 14px 4px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 18px;
    margin-left: 7px;
}
#page-content .menu-bar .menu a{
	font-size: 16px;
}
#page-content .menu a #me{
	float: right;
}

#page-content .menu li{
    padding: 18px 9px;
    display: inline-block;
}
#page-content .column-content #red{
	background-color: #e64c65;
	border: none;	
}
#page-content .column-content .box-content #redbubble{
	padding: 3px;
	background-color: #e64c65;
	border:none;
}
#page-content .menu li:hover{
	background-color: #50597b;
	border-bottom: solid 2px #11a8ab;
	margin-top: -2px;
}

/*Column Properties*/
#page-content .column-content{
    float: left;
    width: 300px;
    height: auto;
    margin: 83px 20px 28px 0px;
    border-radius: 50px;
}

#page-content .column-content:nth-child(4){
	margin-right: 0px;
}
#page-content .column-content #download{
		height: 196px;
}
#page-content .column-content #tweetcontent{
	height: 377px;
}
#page-content .column-content .box-content{
	background-color: #394264;
	list-style-type: none;
	margin-top: 22px;
	border-radius: 8px;
}
#page-content .column-content .box-content li{
	    border-bottom: solid 1px #1f253d; 
	    margin-left:  -64px;
    	padding: 0px 48px 1px;
    	height: 58px;
}

#page-content .column-content .box-content a{
	list-style-type: none;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
 
}
#page-content #Menu{
	margin-left: -38px;
    text-align: center;
    background: #11a8ab;
}
#page-content .column-content .box-content 
{
	padding-top: 1px;
}
#page-content .column-content .box-content .profile-picture{
	height: 317px;
}

#page-content .column-content .box-content .profile-picture h1{
    margin-bottom: 21px;
}
#page-content .column-content .box-content .profile-picture img{
	margin-left: 263px;
    margin-top: 10px;
}
#page-content .column-content .box-content .profile-picture p{
	    margin-bottom: 23px;
}
#page-content .column-content .box-content .profile-picture span{
	width: 162px;
	height: 162px;
	position: relative;
    margin: 20px 60px;

}

#page-content .column-content h1{
	font-size: 18px;
	font-family: 'Ubuntu Medium';
	color: white;
	text-align: center;
	font-weight: normal;
}
#page-content .column-content p{
	font-family: 'Ubuntu';
	color: #9099b7;
	font-size: 16px;
	text-align: center;
}
#page-content  .column-content .box-content .icons{
	height: 60px;
    width: 300px;
    margin-top: 29px;
}
#page-content  .column-content .box-content .icon-container:nth-child(2){
	    padding-top: 6px;
}
#page-content  .column-content .box-content .icon-container:nth-child(3){
	    padding-top: 1px;
}
#page-content  .column-content .box-content .icon-container{
	width:95px;
	height: 60px;
	display: inline-block;
	border-top: 3px solid;
	border-right: solid 1px;
}
#page-content  .column-content .box-content .icon-container p{
	margin-top: -32px;
    margin-right: -37px;
    color:white;
}
#page-content  .column-content .box-content .icon-container img{
	margin: 16px;
}

/*Account Profile icons*/
#page-content  .column-content .box-content .icons li{
	display: inline-block;
	text-decoration: none;
	border-bottom:none;
	border-top: solid 3px;
	padding: 0px 34px;
	background-color: #50597d; 
}
#page-content h3{
	color: white;
	font-family: 'Ubuntu';
	font-weight: normal;
	text-align: center;
}
#page-content  .column-content .email{
	width: 262px;
	height: 50px;
	background-color: #50597b;
	border: solid 1px #11a8ab;
	margin: 0 auto 28px;
	border-radius: 6px;

}
#page-content  .column-content .email img{
	margin: -34px 10px;
}
#page-content  .column-content .email p{
	    margin-right: 40px;
	    color: white;
}

#page-content  .column-content .emai a{
	font-size: 16px;
}
#page-content .column-content .box-content  .button{
	background-color:#11a8ab;
	 width: 176px;
	 height: 54px;
	 margin:10px auto;
	 border-radius: 5px;
}
#page-content .column-content .box-content  .button:first-child{
	margin-bottom: 10px;
}

#page-content .column-content .box-content .bubbles{
    width: 23px;
    height: 16px;
	background-color:#50597b;
	border-radius: 10px;
	margin: 10px -37px;
	color: white;
	text-align: center;	
}
#page-content h4{
	font-size: 18px;
	font-family: 'Ubuntu-M';
	font-weight: normal;
	color:white;
}
#page-content h4:nth-child(3){
	color: red;
}

 #page-content .column-content #newsletter{
  	 height: 227px;
 }  
   
  /*Diagram Content section*/
#page-content .column-content .box-content .os-diag .diag-content{
	margin: 33px 46px 38px;
	
}


#page-content .column-content .box-content .diag-footer {
	display: inline-block;
    border-bottom: none;
    margin: 3px;
    height: 75px;
    width: 300px;
    border-right: 1px;
}
#page-content .column-content .box-content .footer-content{
	width: 70px;
	height: 71px;
	display: inline-block;
	border-right: solid 1px;
	color:#9099b7;
	font-family: 'Ubuntu';
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}
#page-content .column-content .box-content .footer-content h2{
	color: white;
	font-size: 26px;
	font-family: 'Ubuntu-Light';
	text-align:center;
	font-weight: normal;
}

/*Social Footer Properties*/
#page-content .column-content .social-footer{
	width: 300px;
	height: 110px;
	margin-top: 20px;
}
#page-content .column-content .social-footer .social-net{
	width: 74px;
	height: 110px;
	display: inline-block;
	background-color: #3468af;
	float: left;
}

#page-content .column-content .social-footer .social-net img{
    margin: 43px 29px;
}
#page-content .column-content .social-footer .social-net .icon{
	height: 32px;
	width: 74px;
	margin-top: -30px;
	color: white;
	text-align: center;
	padding-top: 2px;
}


/* Stadistics and graph Properties*/

#page-content .column-content .box-content .graphic{
	height: 198px;
	background-color: #11a8ab;
}
#page-content .column-content .box-content .graphic .graph-content{
	margin: 0 auto;
    height: 112px;
    width: 234px;
    padding-top: 47px;
}
#page-content .column-content .box-content .graphic .graph-content img{
	position: absolute;
}
#page-content .column-content .box-content .graphic .graph-content img:nth-child(3){
	position: relative;
    float: right;
    margin-top: -105px;
    margin-right: 46px;
 }
#page-content .column-content .box-content .graphic .graph-content #graph-line{
	position: relative;
    margin-top: 18px;
}
#page-content .column-content .box-content  .y{
	width: 20px;
	margin: -133px 0 0 13px;
}
#page-content .column-content .box-content .y ul{
	padding: 0px;
}

#page-content .column-content .box-content .y li{
	padding: 0 0 12px 0;
	border: none;
	margin:0;
	border:none;
	height: 20px;
	color: white;
}

/*Graph X Letters*/
#page-content .column-content .box-content  .x{
	width: auto;
	height: 22px;
	margin: -24px 56px 0;
}
#page-content .column-content .box-content  .x ul{
		padding: 0px;
}
#page-content .column-content .box-content .x li{
	padding: 0 35px 0 0px;
    height: 20px;
    display: inline-block;
    margin: 0;
    border: none;
    font-size: 12px;
    color: white;
}

#page-content .column-content .box-content .stadistics{
	background-color: #394264;
	height: 198px;
	margin-bottom: 20px;
}

#page-content .column-content .box-content .stadistics .sta-content{
	height: 32px;
	width:254px;
	padding: 25px 0;
    margin: 0 auto;
}
#page-content .column-content .box-content .stadistics .sta-buttons{
	height: 32px;
	width: 77px;
	background-color: #50597b;
	display: inline-block;
	 padding-right: 5px;
	border-radius: 5px;

}
#page-content .column-content .box-content .stadistics .sta-buttons p{
	color: white;
	margin-top: 8px;
}
#page-content .column-content .box-content .stadistics .sta-data{
	width: 258px;
	height: 86px;
	margin:0 auto;
}
#page-content .column-content .box-content .stadistics .sta-data .data-content{
	height: 20px;
	padding-bottom: 15px;
}
#page-content .column-content .box-content .stadistics .sta-data h4{
	font-size: 16px;
	float: left;
	margin: 0;
}
#page-content .column-content .box-content .stadistics .sta-data p{
    margin: 0 184px 0 0;
}
#page-content .column-content .box-content .stadistics .sta-data span{
	    border: none;
	    background: none;
	    height: auto;
    	width: auto;
        margin-top: -18px;
/*    	width: 28px;
    	height: 16px;
    	margin-top: -72px;
*/}

/*Weather Properties*/
#page-content .column-content .box-content .red-title {
	background-color: #cc324b;
	height: 60px;
	padding-top: 1px;
}
#page-content .column-content .box-content .red2-title{
	background-color: #e64c65;
	height: 132px;
	padding-top: 1px;
}
#page-content .column-content .box-content .red-title img{    
    padding: 0 13px;
}
#page-content .column-content .box-content .red2-title h2{ 
	color: white;
	font-size: 70.3px;
	font-family: 'Ubuntu';
	margin: -33px 34px auto;
}
#page-content .column-content .box-content .red2-title p{
	font-family: 'Myriad';
	font-weight: normal;
	font-size: 16px;
	color: white;	
	 margin-left: -142px;
}

#page-content .column-content .box-content .red2-title img {
	height: 72px;
	width: 96px;
	float: right;
    margin: -84px 21px auto auto;
}
#page-content .column-content .box-content .weather .weather-content{
	height: 60px;
	background-color: #394264;
	border-bottom: solid 1px;
	height: 59px;
}
#page-content .column-content .box-content .weather .weather-content:hover{
	background-color: #50597b;
	cursor: pointer;

}

#page-content .column-content .box-content .weather .weather-content .left-side{
	float: left;
	width: 150px;

}
#page-content .column-content .box-content .weather .weather-content .left-side h4{
	margin: 22px;
}
#page-content .column-content .box-content .weather .weather-content .left-side p{
	    margin: -41px 0 0 18px;
}
#page-content .column-content .box-content .weather .weather-content .right-side{
	float: right;
	margin:-7px 17px 0 0;
}
#page-content .column-content .box-content .weather .weather-content .right-side img{
    margin: -50px 0px 0 32px;
 }
/*Tweets*/

#page-content .column-content .box-content .tweets {
	background-color: #394264;
	padding-top: 1px;
}

#page-content .column-content .box-content .tweets p{
	color: white;
    line-height: 22px;
    text-align: left;
}
#page-content .column-content .box-content .tweets i{
	color: #4fc4f6;
	font-weight: normal;

}
#page-content .column-content .box-content .tweets .tweet-container{
	width: 236px;
	padding: 14px 29px 7px 37px;
    border-bottom: solid 1px;
}
#page-content .column-content .box-content .container{
	width: 158px;
    height: 60px;
    margin: 0 auto;
}
#page-content .column-content .box-content .container img{
	margin-top: 19px;
}
#page-content .column-content .box-content .container h3{
	margin-top: -15px;
}
 /*Social Section*/

 #page-content .column-content .box-content .social{
	background-color: #3468af;
	height: 60px;
	margin-top: 16px;
}
 #page-content .column-content .box-content .social .social-icon{
 	height: 60px;
 	width:60px;
 	background-color: #1a4e95;
 	margin-top: -1px;

 }

  #page-content .column-content #cyan{
	background-color: #35aadc;
  }
  #page-content .column-content #darkred{
  	background-color: #cc324b;
  }

 #page-content .column-content .box-content .social .social-icon img{
 	    margin: 24px 0 0 22px;
 }
 #page-content .column-content .box-content .social h3{
	margin-top:-40px;
 }

/*Sign in Properties*/
#page-content  .column-content .email:nth-child(3){
	border: none;
	margin: 20px auto 20px;
}
#page-content  .column-content .email:nth-child(3) p{
    margin-bottom: -1px;
    margin-left: -85px;
    padding: 13px;
    color:#9099b7;
}

#page-content .column-content .facebook{
	height: 50px;
	width: 300px;
	background-color:#3468af;
}
#page-content .column-content .box-content h1{
	margin-bottom: 41px;
}
#page-content .column-content .facebook p{
	color: white;
	margin-top: -19px;
}

#page-content .column-content .facebook img{
	    margin: 10px auto auto 39px;
}

/*Download Section*/
#page-content .column-content .box-content .progress{
	height: 22px;
	width: 248px;
	margin:40px auto 16px;
	background-color: #50597b;
}

#page-content .column-content .box-content .progress .process{
	width: 197px;
	height: 22px;
	background-color: #11a8ab;
	position: absolute;

}
#page-content .column-content .box-content .progress:nth-child(3){
	margin-top: 22px;	
}

#page-content .column-content .box-content .progress .process2{
	background-color: #4fc4f6;
	width: 100px;
	height: 22px;
	position: absolute;
}
#page-content .column-content .box-content .process-status img{
	margin-left: 26px;


}
#page-content .column-content .box-content .process-status p{
	margin: -19px 44px auto auto;
	color: white;

}


#page-content .column-content .box-content .process-status span{
 	background-color: #394264;
	border:none;margin-top: 2px;
	height: 17px;
}

/*Calendar Section*/

#page-content .column-content .box-content .top{
	background-color: #1a4e95;
	height: 60px;
	padding-top: 1px;
}
#page-content .column-content .box-content .cal-content{
	height: 260px;
	background-color: #3468af;
	padding-top: 1px;
}
#page-content .column-content .box-content .top h1{
	padding: 10px 0px;
    margin-top: -54px;
}

#page-content .column-content .box-content .top .left {
	    margin: 21px 18px;
}

#page-content .column-content .box-content .top .right {
	float: right;
   	margin: -75px 15px;
}
#page-content .column-content .box-content .cal-content h1{
	font-family: 'Ubuntu Light';
	font-size: 140px;
	margin: 0 auto;

}
#page-content .column-content #blue{
	background-color: #4fc4f6;
}
#page-content .column-content .box-content .cal-content h3{
	padding-top: 13px;
}

#page-content .column-content #purple{
	color:#9099b7;
}
#page-content .column-content #marine{
	background-color: #3468af;
}
#page-content .column-content #darkpurple{
	background-color: #363f61;
}
#page-content .column-content #normalpurple{
	background-color: #50597b;
}

#page-content .column-content #darkblue{
	background-color: #1a4e95;
}
#page-content .column-content #green{
	border-top: solid 3px #11a8ab;
}
#page-content .column-content #yellow{
	border-top: solid 3px #fcb150;
}
#page-content .column-content .box-content #red-border{
	border-top: solid 3px #e64c65;
}
#page-content .column-content .box-content #blue-border{
	border-top: solid 3px #4fc4f6;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
#page-content .column-content .box-content .calendar{
	height: 318px;
	width: 300px;
	background-color:#394264;

	margin-top: -34px;
} 
#page-content .column-content .box-content .calendar table{
	margin: 0 auto;
	padding-top: 40px;
}
#page-content .column-content .box-content .calendar td,th{
	 padding: 6px 11px;
	font-size: 16px;
	font-family: 'Ubuntu';
	color:#9099b7;
}
#page-content .column-content .box-content .calendar .days{
	color:#4fc4f6;
	background-color:#394264;

}
#page-content .column-content .box-content .calendar .selected{
	color:white;
	background-color:#394264;

}
#page-content .column-content .box-content .calendar #active{
	color:white;
	background-color:#ec3d68;
	border-radius: 50%;
}